* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black;
    color: white; */
    font-family: Helvetica, sans-serif;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    position: relative;
    
}

.logo {
    padding-bottom: 5px;
}

.home {
    padding: 2px 0px;
}

.home ul li {
    display: flex;
    width: 20px;
    list-style: none;
    gap: 15px;
    padding: 10px 1px;
    font-weight: 700;
}

.library {
    height: 69.7vh;
    position: relative;
}

.library .heading{
    display: flex;
    list-style: none;
    gap: 15px;
    font-weight: 700;
    font-size: 15px;
}

.lib {
    width: 20px;
}

.footer {
    display: flex;
    font-size: 12px;
    width: 20vw;
    color: grey;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    border-radius: 7px 7px 0px 0px;
    height: 70px;
}

.header * {
    padding: 4px;
    margin: 4px 5px;
    gap: 15px;
}

.nav svg {
    background-color: #0000006b;
    border-radius: 50px;
}

.buttons button {
    font-size: 14px;
    font-weight: 700;
}

.signupbutton{
    background-color: #101010;
    border: none;
    color: grey;
    padding: 15px;
    /* margin: 0px 10px; */
}

.signupbutton:hover{
    color: white;  
}

.loginbutton{
    background-color: white;
    color: black;
    border-radius: 50px;
    border: none;
    padding: 10px 25px;
    font-weight: normal;
}


.spotifyPlaylists {
    padding: 10px;
    font-size: 10px;
    font-weight: 700;
}

.spotifyPlaylists h1 {
    margin: 5px 0;
}

.card {
    width: 160px;
    height: 240px;
    /* overflow: hidden; */
    border: 2px solid #121212;
    background-color: #101010;

    /* border: 2px solid red; */
    /* padding: 5px; */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
    position: relative;
}

.card img {
    width: 160px;
    height: 180px;
    border-radius: 12px;
    object-fit: contain;
    /* margin: 0 auto; */
}

.card h2 {
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0;
    color: white;
    /* margin:  0px 10px; */
}

.card p {
    font-size: 10px;
    color: grey;
    font-weight: 400;
    width: 150px;
    padding: 2px 0;
    /* margin: 2px 10px; */
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
}

.play img {

    width: 20px;
    height: 30px;
    padding-left: 2px;
}


.play {
    width: 20px;
    height: 30px;
    padding-left: 6px;
    background-color: #1fdf64;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    position: absolute;
    right: 14px;
    bottom: 82px;
    opacity: 0;
    transition: all 1s ease-out;
}

.playbar{
    position: absolute;
    bottom: 0;
    width: 90%;
    background-color: green;
    margin-left: 4%;
    padding: 10px 10px;
    
}

.playbuttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

ul{
    list-style: none;
}

.songlist a:link{
    color: white;
    text-decoration: none;

}

.songlist li{
    padding: 10px 0;
}

.songlist a:visited{
    color: white;
}
.songlist ul{
    /* padding: 10px 0px; */
    width: 80%;
    height: 100%;
    color: white;

}

.songlist li{
    color: white;
    text-decoration: none;
    /* gap: 15px; */
    border: 1px solid white;
    margin: 8px 2px;
    border-radius: 5px;
    padding: 10px;
    width: 290px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    height: 40px;
    
}
.heading{
    padding-bottom: 10px;
}

.playnow{
    display: flex;
    width: 112px;
    justify-content: center;
    align-items: center;
    
}

.playnow span{
    font-size: 12px;
    padding: 10px;
    padding-left: 30px;
}

.songlist{
    max-height: 55vh;
    overflow-y: scroll;
}

.info{
    font-size: 12px;
    width: 890px;

}
.info div:first-child{
    font-size: 14px;
    font-weight: 600;
}