*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: black;
    color: white; */
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}


.home{
    padding: 15px;
}
.home ul li{
    display: flex;
    width: 16px;
    list-style: none;
    gap: 15px;
}