.border{
    border: 2px solid blueviolet;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}


.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}


.bg-grey{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 7px;
    margin: 3px;
}

.m-1{
    margin: 6px;
}

.p-1{
    padding: 20px;
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #3c3c3c; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #1e1e1e; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #3c3c3c #1e1e1e; /* Color of the thumb and track */
}

/* For IE and Edge */
body {
    -ms-overflow-style: none; /* Hides the default scrollbar */
}
body::-webkit-scrollbar {
    display: none; /* Hides the default scrollbar */
}

/* Custom scrollbar for Edge */
body::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}
body::-webkit-scrollbar-track {
    background: #1e1e1e; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}
body::-webkit-scrollbar-thumb {
    background-color: #3c3c3c; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #1e1e1e; /* Padding around thumb */
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
}
