.border{
    border: 2px solid blueviolet;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}


.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}


.bg-grey{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 7px;
    margin: 3px;
}